.dashboard {
    display: grid;
    grid-template-columns: [left-sidebar-start] 1fr 
        [left-sidebar-end dashboard-main-start] 2fr 
        [dashboard-main-end right-sidebar-start] 1fr [right-sidebar-end];
    grid-gap: 1em;
    max-width: 1080px;
    margin: 0 auto;
}

.dashboard-main {
    grid-column: dashboard-main;
    background-color: hotpink;
}

.left-sidebar {
    grid-column: left-sidebar;
}


.right-sidebar {
    grid-column: right-sidebar;
}


div.bar {
    display: inline-block;
    width: 20px;
    height: 75px;
    background-color: teal;
    margin-right: 2px;
}

.axis path,
.axis line {
    stroke: blue;
    shape-rendering: crispEdges;
}

.axis text {
    font-family: Optima, Futura, sans-serif;
    font-weight: bold;
    font-size: 12px;
    fill: rgb(3, 86, 114)
}

