.container {
    margin: 0 auto;
    max-width: 800px;
}

.index {
    padding: 4em;
    border-radius: .25em;
    background-color: white;
    text-align: center;
}

.index--title {
    font-weight: bold;
}


.index-logo {
    width: 5.6em;
}