.finishbackground {
    background-color: rgba(0, 0, 0, .3);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;

}


.finishmessage {
    margin: 5em 1em;
    padding: 4em;
    border-radius: .25em;
    background-color: white;
    text-align: center;
}