.header {
    padding: 1em;
    background-color: var(--theme-color);
    color: white;
    position: relative;
}

.header > h1 {
    font-size: 1.2em;
    margin: 0;
    text-transform: uppercase;
    text-align: center;
}

.header--logo {
    width: 2em;
    position: absolute;
    top: .5em;
    left: 1em;
}