.my-button {
    margin: .3125em;
    padding: .625em 2em;
    font-weight: 500;
    -webkit-tap-highlight-color: transparent;
    border: 0;
    border-radius: .25em;
    background-color: var(--theme-color);
    color: #fff;
    font-size: 1.0625em;
    text-transform: uppercase;
}


.my-button:not([disabled]) {
    cursor: pointer;
}


.my-button:focus {
    outline: none;
    box-shadow: 0 0 0 1px #fff, 0 0 0 3px var(--theme-color);
}