.option {
    border: 1px solid var(--theme-color);
    padding: 1em;
    border-radius: .25em;
    margin-top: 1em;
    font-weight: bold;
    cursor: pointer;
}

.answer,
.option:hover {
    background-color: var(--theme-color);
    color: white;
}

.answer {
    padding-top: 1.5em;
    padding-bottom: 1.5em;
}



.verticalbar {
    padding: 1em .2em;
    margin-right: .5em;
    border-radius: .1em 0 0 .1em;
    background-color: white;
    display: inline;

}
