.othermodal {
    position: fixed;
    background-color: rgba(0, 0, 0, .5);
    z-index: 2;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.dialogbox {
    background-color: white;
    width: 70%;
    margin: auto;
    border-radius: .5em;
    padding: 1em;
    margin-top: 5em;
    display: flex;
    flex-direction: column;
    position: relative;
}

.close {
    position: absolute;
    background-color: rgb(248, 63, 43);
    right: 1.3em;
    top: .5em;
    border: 0;
    border-radius: .25em;
    color: white;
    padding: .35em .7em;
    cursor: pointer;
    font-weight: bold;
}

.dialogbox > h1 {
    margin: 0;
}

.dialogbox > * + * {
    margin-top: 1em;
}

.notdisplayed {
    display: none;
}