.previousbutton {
    background-color: var(--theme-color);
    padding: .5em 1.5em;
    border: 0;
    border-radius: .25em;
    border: 2px solid black;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1em;
    cursor: pointer;
    position: fixed;
    z-index: 1;
    bottom: 1em;
    left: 2em;
}


.previousbutton:hover {
    background-color: white;
    color: black;
}